/* Global styles for common elements */

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

a {
    color: #f12551;
}

a:visited {
    color: #b81767;
}

a:hover, a:focus {
    color: #ff435c;
}

a:active {
    color: #b11436;
}

ul, menu {
    list-style: square;
}

ol {
    list-style: decimal;
}

/* Global styles for organizational elements */

.dark-section {
    background-color: #201f20;
    color: #f1f1f1;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

/* Section styles */

header .content {
    display: flex;
    justify-content: space-between;
}

/* Miscellaneous styles */

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}