/* ---------------- Common element styles ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    color: #292929;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: #111111;
}

h1 {
    font-size: 2.85rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

hr {
    height: 2px;
    border: none;
    background-color: #afafaf;
}

/* Links */

a {
    color: #cfcfcf;
    transition: color 0.125s ease-out;
}

a:visited {
    color: #b81767;
}

a:hover,
a:focus {
    color: #f12551;
}

a:active {
    color: #b11436;
}

/* Lists */

ul,
menu {
    list-style: disc;
    list-style-position: inside;
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

/* ---------------- Organizational element styles ---------------- */

.dark-section {
    background-color: #1a191a;
    color: #f3f3f3;
}

.dark-section h1,
.dark-section h2,
.dark-section h3,
.dark-section h4,
.dark-section h5,
.dark-section h6 {
    color: #f3f3f3;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

/* ---------------- Common animation styles ---------------- */

.underline-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin: 0 auto;
    background-color: #f12551;
    position: relative;
    transition-property: width, color;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
    pointer-events: none;
}

.underline-hover:hover::after,
.underline-hover:focus::after {
    width: 100%;
}

/* ---------------- Header styles ---------------- */

header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

#title {
    width: 50%;
}

@media only screen and (max-width: 720px) {
    #title {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        justify-content: center;
    }
}

.typed-letter {
    animation: type-letter ease-out 1.5s;
}

.typing-cursor {
    color: #f12551;
}

@keyframes type-letter {
    0% {
        color: #f12551;
    }

    100% {
        color: #f3f3f3;
    }
}

/* Navigation */

#nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    list-style: none;
}

.nav-item.current {
    font-weight: bold;
}

.nav-item a {
    color: #cfcfcf;
    text-decoration: none;
}

.nav-item.current a {
    color: #f3f3f3;
}

.nav-item:hover a,
.nav-item:focus a {
    color: #f12551;
}

.nav-item:active a {
    color: #b11436;
}

.nav-item::after {
    bottom: -0.5rem;
    background-color: #cfcfcf;
}

.nav-item.current::after {
    width: 100%;
    background-color: #f3f3f3;
}

.underline-hover:hover::after,
.underline-hover:focus::after {
    background-color: #f12551;
}

.nav-item:active::after {
    background-color: #b11436;
}

@media only screen and (max-width: 390px) {
    #nav {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-item::after {
        width: 100%;
        background-color: #292929;
    }
}

/* ---------------- Footer styles ---------------- */

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

footer h3 {
    margin-top: 0;
}

/* Social icons */

#social-icons {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.social-icon,
#back-to-top {
    width: 2.2rem;
    opacity: 60%;
    transition: opacity 0.125s ease-out;
}

.social-icon:hover,
.social-icon:focus,
#back-to-top:hover,
#back-to-top:focus {
    opacity: 85%;
}

.social-icon:active,
#back-to-top:active {
    opacity: 100%;
}

/* Right section */

#footer-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-left: auto;
}

#footer-right p {
    margin-bottom: 0;
    opacity: 50%;
}

@media only screen and (max-width: 780px) {
    #footer-right {
        width: 100%;
        flex-direction: row-reverse;
        align-items: start;
        gap: 1rem;
    }

    #footer-right p {
        margin-top: 0;
    }
}

/* Back to top button */

#back-to-top {
    height: 2.2rem;
}

#back-to-top img {
    width: 2.2rem;
    transition: transform 0.125s ease-out;
    pointer-events: none;
}

#back-to-top:hover img,
#back-to-top:focus img {
    transform: translate(0, -0.5rem);
}

/* ---------------- Portfolio styles ---------------- */

.portfolio {
    padding: 2rem 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio-item {
    background-color: #e9e9e9;
    border-bottom: #1a191a solid 2px;
    border-radius: 5px;
    box-shadow: 0 12px 8px #00000033;
    transition-property: transform, box-shadow;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
}

.portfolio-item:hover,
.portfolio-item:focus {
    transform: scale(1.2);
    box-shadow: 0 12px 16px #00000066;
}

.portfolio-item * {
    padding-left: 2rem;
    padding-right: 2rem;
}

.portfolio-item img {
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

.portfolio-item:after {
    bottom: -2px;
}

@media only screen and (max-width: 850px) {
    .portfolio {
        padding: 2rem 0;
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }

    .portfolio-item:hover {
        transform: scale(1.1);
    }
}