/* ---------------- Global variables ---------------- */
:root {
    --white: #f3f3f3;
    --black: #1a191a;
    --accent: #f12551;
    --accent-active: #b11436;
    --text: #2e2e2e;
    --text-strong: #111111;
    --white-text: #cfcfcf;
    --white-text-strong: #f3f3f3;
}

/* ---------------- Common element styles ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
    background-image: url("../images/background-grid.png");
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: var(--text);
    overflow-y: scroll;
}

::selection {
    background-color: #f1255199;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: var(--text-strong);
}

h1 {
    font-size: 2.85rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
iframe {
    margin: 1rem 0;
}

hr {
    width: 100%;
    height: 2px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    background-color: #afafaf;
    animation: expand-hr ease-out 0.5s;
}

@keyframes expand-hr {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* Links */

a {
    color: var(--accent);
    transition: color 0.125s ease-out;
}

.dark-section a {
    color: var(--white-text);
}

a:visited {
    color: #b81767;
}

a:hover,
a:focus {
    color: var(--accent);
}

a:active {
    color: var(--accent-active);
}

/* Lists */

ul,
menu {
    list-style: disc;
    list-style-position: inside;
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

/* ---------------- Organizational element styles ---------------- */

.dark-section {
    background-color: var(--black);
    color: var(--white-text);
}

.dark-section h1,
.dark-section h2,
.dark-section h3,
.dark-section h4,
.dark-section h5,
.dark-section h6 {
    color: var(--white-text-strong);
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

main .content {
    background-color: var(--white);
    box-shadow: 0 0 256px var(--white);
}

/* ---------------- Special element styles ---------------- */

.single-line-bullets {
    display: flex;
}

.single-line-bullets li {
    padding-left: 6px;
    padding-right: 0;
    list-style-type: "\2022  ";
}

.single-line-bullets li:first-child {
    padding-left: 0;
    list-style-type: none;
}

@media only screen and (max-width: 550px) {
    .single-line-bullets {
        flex-direction: column;
    }

    .single-line-bullets li {
        padding-left: 0;
    }

    .single-line-bullets li:first-child {
        list-style-type: "\2022  ";
    }
}

/* ---------------- Common animation styles ---------------- */

.underline-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin: 0 auto;
    background-color: var(--accent);
    position: relative;
    transition-property: width, color;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
    pointer-events: none;
}

.underline-hover:hover::after,
.underline-hover:focus::after {
    width: 100%;
}

/* ---------------- Header styles ---------------- */

header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 64;
}

header .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

#title {
    width: 50%;
}

#title a {
    text-decoration: none;
}

#title a:visited {
    color: unset;
}

#title a:hover,
#title a:focus {
    color: var(--accent);
}

#title a:active {
    color: var(--accent-active);
}

@media only screen and (max-width: 720px) {
    #title {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        justify-content: center;
    }
}

.typed-letter {
    animation: type-letter ease-out 1s;
}

.typing-cursor {
    color: var(--accent);
}

@keyframes type-letter {
    0% {
        color: var(--accent);
    }

    100% {
        color: var(--white-text-strong);
    }
}

/* Navigation */

#nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    list-style: none;
}

.nav-item.current {
    font-weight: bold;
}

.nav-item a {
    color: var(--white-text);
    text-decoration: none;
}

.nav-item.current a {
    color: var(--white-text-strong);
}

.nav-item:hover a,
.nav-item:focus a {
    color: var(--accent);
}

.nav-item:active a {
    color: var(--accent-active);
}

.nav-item::after {
    bottom: -0.5rem;
    background-color: var(--white-text);
}

.nav-item.current::after {
    width: 100%;
    background-color: var(--white-text-strong);
}

.underline-hover:hover::after,
.underline-hover:focus::after {
    background-color: var(--accent);
}

.nav-item:active::after {
    background-color: var(--accent-active);
}

@media only screen and (max-width: 390px) {
    #nav {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-item::after {
        width: 100%;
        background-color: var(--text);
    }
}

/* ---------------- Footer styles ---------------- */

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;
    z-index: 64;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

footer h3 {
    margin-top: 0;
}

/* Social icons */

#social-icons {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.social-icon,
#back-to-top {
    width: 2.2rem;
    opacity: 60%;
    transition: opacity 0.125s ease-out;
}

.social-icon:hover,
.social-icon:focus,
#back-to-top:hover,
#back-to-top:focus {
    opacity: 85%;
}

.social-icon:active,
#back-to-top:active {
    opacity: 100%;
}

/* Right section */

#footer-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-left: auto;
}

#footer-right p {
    margin-bottom: 0;
    opacity: 50%;
}

@media only screen and (max-width: 780px) {
    #footer-right {
        width: 100%;
        flex-direction: row-reverse;
        align-items: start;
        gap: 1rem;
    }

    #footer-right p {
        margin-top: 0;
    }
}

/* Back to top button */

#back-to-top {
    height: 2.2rem;
}

#back-to-top img {
    width: 2.2rem;
    transition: transform 0.125s ease-out;
    pointer-events: none;
}

#back-to-top:hover img,
#back-to-top:focus img {
    transform: translate(0, -0.5rem);
}

/* ---------------- Portfolio styles ---------------- */

.portfolio {
    padding: 2rem 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio-item-container,
.portfolio-item-container:visited,
.portfolio-item-container:hover,
.portfolio-item-container:focus,
.portfolio-item-container:active {
    color: var(--text);
    text-decoration: none;
}

.portfolio-item-container:hover,
.portfolio-item-container:focus {
    z-index: 128;
}

.portfolio-item {
    border-bottom: var(--black) solid 4px;
    border-radius: 5px;
    background-color: #e9e9e9;
    box-shadow: 0 10px 8px #0000002a;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 0 64px #b1143688;
}

.portfolio-item>* {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.portfolio-item h3 {
    margin: 0;
}

.portfolio-item ul {
    margin: 0;
}

.portfolio-item img {
    width: 100%;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.portfolio-item>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

.portfolio-item:after {
    position: absolute;
    height: 4px;
    bottom: -4px;
    border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 850px) {
    .portfolio {
        padding: 2rem 0;
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }

    .portfolio-item h3 {
        font-size: 1.2rem;
    }
}

/* ---------------- Portfolio article styles ---------------- */

.portfolio-article-title h2 {
    font-size: 2.45rem;
}

.portfolio-article-title li {
    font-size: 1.25rem;
}

.portfolio-hero {
    width: 100%;
    aspect-ratio: 16/9;
}

.portfolio-article-body {
    display: flex;
}

/* Breadcrumb back arrow */

.breadcrumb {
    margin-top: 4rem;
    font-size: 1.1rem;
}

.breadcrumb img {
    height: 1.6rem;
    margin-right: 1rem;
    vertical-align: middle;
    opacity: 60%;
    transition: transform 0.125s ease-out;
    pointer-events: none;
}

.breadcrumb a:hover img,
.breadcrumb a:focus img {
    transform: translate(-0.5rem, 0);
}